In [71]:
import pandas as pd
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import shapely as shp
import geoplot
%matplotlib inline

In [72]:
weather_geo_demographic = gpd.read_file('weather_geo_demographic.shp')

# Merge each dataset to weather_geo_demographic shape

## Green Trips

In [70]:
green = pd.read_csv('green_trips_new_2.csv')
green.head()
#Transforms string to datetime
#green['pickup_dt'] = pd.to_datetime(green['pickup_datetime'],infer_datetime_format=True)
#green['dropoff_dt'] = pd.to_datetime(green['dropoff_datetime'],infer_datetime_format=True)
#green.drop(['pickup_datetime'],axis=1,inplace=True)
#green.drop(['dropoff_datetime'],axis=1,inplace=True)
green[:3]

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,total_amount,pickup_dt,dropoff_dt
0,-73.953545,40.811172,-73.984764,40.728386,1,8.11,27.8,2015-02-01 01:26:45,2015-02-01 01:49:58
1,-73.946709,40.714321,-73.961571,40.711475,1,1.29,9.8,2015-01-02 20:06:28,2015-01-02 20:14:04
2,-73.957626,40.718094,-73.947304,40.777813,5,6.12,26.3,2014-09-27 17:55:38,2014-09-27 18:19:56

In [73]:
green['geometry'] = green.apply(lambda row: 
                    shp.geometry.Point(row['pickup_longitude'],row['pickup_latitude']),axis=1)
green = gpd.GeoDataFrame(green)
green.crs = {'init' :'epsg:4326'}
#green.drop(['pickup_longitude','pickup_latitude'],axis=1,inplace=True)
green[:3]

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,total_amount,pickup_dt,dropoff_dt,geometry
0,-73.953545,40.811172,-73.984764,40.728386,1,8.11,27.8,2015-02-01 01:26:45,2015-02-01 01:49:58,POINT (-73.95354 40.81117)
1,-73.946709,40.714321,-73.961571,40.711475,1,1.29,9.8,2015-01-02 20:06:28,2015-01-02 20:14:04,POINT (-73.94671 40.71432)
2,-73.957626,40.718094,-73.947304,40.777813,5,6.12,26.3,2014-09-27 17:55:38,2014-09-27 18:19:56,POINT (-73.95763 40.71809)

In [74]:
Green_NTA = gpd.sjoin(green,weather_geo_demographic[['nta_code','WeatherSta','geometry']], how='inner', op='intersects') 
del Green_NTA['index_right']
#del Green_NTA['pickup_latitude']
#del Green_NTA['pickup_longitude']
len(Green_NTA)
Green_NTA[:3]

,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,trip_distance,total_amount,pickup_dt,dropoff_dt,geometry,nta_code,WeatherSta
0,-73.953545,40.811172,-73.984764,40.728386,1,8.11,27.8,2015-02-01 01:26:45,2015-02-01 01:49:58,POINT (-73.95354 40.81117),MN09,CP
39,-73.962082,40.805218,-73.943817,40.810223,1,2.10,11.8,2015-03-31 16:02:29,2015-03-31 16:15:25,POINT (-73.96208 40.80522),MN09,CP
41,-73.962128,40.805443,-73.987343,40.770370,1,3.10,15.0,2014-06-02 16:00:23,2014-06-02 16:12:52,POINT (-73.96213 40.80544),MN09,CP

In [75]:
Green_NTA.to_file('Green_NTA.shp')

DriverSupportError: ESRI Shapefile does not support datetime fields

## Yellow Trips

In [ ]:
yellow = pd.read_csv('yellow_trips_new.csv')
#Transforms string to datetime
#yellow['pickup_dt'] = pd.to_datetime(yellow['pickup_datetime'],infer_datetime_format=True)
#yellow['dropoff_dt'] = pd.to_datetime(yellow['dropoff_datetime'],infer_datetime_format=True)
#yellow.drop(['pickup_datetime'],axis=1,inplace=True)
#yellow.drop(['dropoff_datetime'],axis=1,inplace=True)
yellow[:3]

In [ ]:
yellow['geometry'] = yellow.apply(lambda row: 
                    shp.geometry.Point(row['pickup_longitude'],row['pickup_latitude']),axis=1)
yellow = gpd.GeoDataFrame(yellow)
yellow.crs = {'init' :'epsg:4326'}
#yellow.drop(['pickup_longitude','pickup_latitude'],axis=1,inplace=True)
yellow[:3]

In [ ]:
Yellow_NTA = gpd.sjoin(yellow[:100],weather_geo_demographic[['nta_code','WeatherSta','geometry']], how='inner', op='intersects') 
del Yellow_NTA['index_right']
#del Yellow_NTA['pickup_latitude']
#del Yellow_NTA['pickup_longitude']
len(Yellow_NTA)
Yellow_NTA[:3]

In [16]:
Yellow_NTA.to_file('Yellow_NTA.shp')

## MTA Trips

In [ ]:
mta = pd.read_csv('mta_trips.csv')
mta.head()
#Transforms string to datetime
#mta['dt'] = pd.to_datetime(mta['datetime'],infer_datetime_format=True)
#mta.drop(['datetime'],axis=1,inplace=True)
mta[:3]

In [ ]:
mta['geometry'] = mta.apply(lambda row: 
                    shp.geometry.Point(row['longitude'],row['latitude']),axis=1)
mta = gpd.GeoDataFrame(mta)
mta.crs = {'init' :'epsg:4326'}
#mta.drop(['longitude','latitude'],axis=1,inplace=True)
mta[:10]

In [ ]:
MTA_NTA = gpd.sjoin(mta[:100],weather_geo_demographic[['nta_code','WeatherSta','geometry']], how='inner', op='intersects') 
del MTA_NTA['index_right']
#del MTA_NTA['latitude']
#del MTA_NTA['longitude']
len(MTA_NTA)
MTA_NTA[:3]

In [ ]:
MTA_NTA.to_file('MTA_NTA.shp')